@model AutoSchoolProject.ViewModels.Student.BookLessonViewModel

<h2>Запази час</h2>

<div id="calendar"></div>

<form asp-action="BookLesson" method="post">
    <input type="hidden" asp-for="SlotId" id="selectedSlotId" />

    <button type="submit" class="btn btn-success mt-3">
        Запази избрания час
    </button>
</form>

<script>
    document.addEventListener('DOMContentLoaded', function () {

        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'timeGridWeek',
            selectable: true,
            allDaySlot: false,
            slotMinTime: "08:00:00",
            slotMaxTime: "18:00:00",
            selectMirror: true,

            select: function(info) {

                alert("Избра: " + info.startStr);

                document.getElementById("selectedSlotId").value = info.startStr;
            }
        });

        calendar.render();
    });
</script>
