@model AutoSchoolProject.ViewModels.Student.EditStudentProfileViewModel

<h2>Редакция на профил</h2>

<form asp-action="EditProfile" method="post">
    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PhoneNumber"></label>
        <input asp-for="PhoneNumber" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="CourseId">Категория</label>
        <select asp-for="CourseId" class="form-control">
            <option value="1">B</option>
            <option value="2">C</option>
            <option value="3">D</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary mt-2">
        Запази
    </button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
