@{
    ViewData["Title"] = "Контакти";
}

<h2 class="mb-3">📞 Контакти</h2>

<div class="card">
    <div class="card-body">
        <p class="mb-1"><strong>Автошкола:</strong> Lucky-Cars EOOD</p>
        <p class="mb-1"><strong>Телефон:</strong> +359 897 557 325</p>
        <p class="mb-1"><strong>Email:</strong> office@luckycars.com</p>
        <p class="mb-0"><strong>Адрес:</strong> гр. Разград, ул. Абритус 19</p>
    </div>
</div>
<div class="card">
    <a class="btn btn-outline-secondary" asp-action="IndexForViewerOnly">Назад към началната страница</a>
</div>
